/** HOME CSS ******************************************************************/
@import 'C:/WORKSPACE/avior-marine/Project/Design/1_Website/Main_Layout/css/global';

div[id*='content_wrapper']{
  padding: 0 7px !important;
  overflow:hidden;
  a{
    height:100%;width:100%;
    display:inline-block;
    position:absolute;
    top:0;left:0;
    z-index:10;
  }
  div,aside {
    position:relative;
    background:{
      repeat:no-repeat;
      position:center;
      size:cover;
    }
    h1{
      color:#FFFFFF;
    }
  }
  .topSection{
    margin-bottom:7px;
    height:470px;
    overflow:hidden;
    >div.fleft{
      width:635px;
      height:470px;
      color:#FFFFFF;
      overflow:hidden;
      >div{
        position: absolute;
        z-index: 1000;
        right: 0;
        top: 57px;
        width: 260px;
        p{
          font-size:1.2em !important;
          line-height:15px !important;
          margin: 0 0 0 25px;
          &:first-child{
            em:first-child{
              font-size: 22px !important;
              display: block;
              margin: 15px 0 15px;
            }
            strong{
              font-size: 40px !important;
              display: block;
              margin: 10px 0;
            }
            em:last-child{
              font-size: 45px !important;
              display: block;
              margin: 8px 24px 0 43px;
            }
          }
        }
      }
      ul{
        padding:0;margin:0;
        li{
          position:absolute;
          top:0;
          left:0;
          height:470px;
          width:100%;
          padding: 205px 0 141px 547px;
          opacity:0;
          z-index:1;
          background:{
            size:cover;
          }
          &.active{
            z-index:4;
            opacity:1;
          }
          &.previous{
            z-index:2;
          }
        }
      }
      a#readMoreButton{
        font-size:0;
        position:relative !important;
        @include sprite(90px, 45px, -2px, -4px, 'no-hover', $buttonSprites);
      }
    }
    >div.fright{
      >aside{
        //border:1px solid #CCC;
        width:254px;
        &:first-child{
          height:280px;
          margin-bottom: 6px;
        }
        &:last-child{
          height:202px;
        }
      }
    }
    h1{
      position:relative;
      text-align: right;
      top:30px;
      right:25px;
    }
  }
  .bottomSection{
    height:215px;
    overflow:hidden;
    >aside{
      //border:1px solid #CCC;
      height:207px;
      width:225px;
      float:left;
      &:first-child{
        width:472px !important;
        margin-right:7px;
        h1{
          left:25px;
        }
      }
      &:last-child{
        width:185px !important;
        margin-left:7px;
        h1{
          left:10px;
        }
      }
    }
    h1{
      position:relative;
      top:30px;
      left:20px;
    }
  }
}
