//** for reference go to http://sass-lang.com ***********************************************************************//


$hover : 'hover';

//** AVIOR COLOR SCHEME ***********************************************************************//

//Primary colors
$blue           : #1E2958;
$darkGray       : #222222;
$textGray       : #404041;
$backgroundGray : #ECEDEE;
$dirtyWhite     : #E9EAEA;
$formGray       : #808285;
$borderGray     : #A6A8AB;
$leftPan        : #E7E8E9;
$lightGrayText  : #939597;
$spanGray       : #D1D2D4;
$resumeBg       : #F3F3F4;
$linkBlue       : #004068;
$strongGray     : #808284;
//** SPRITES AND BACKGROUNDS SCHEME ***********************************************************************//
  
// you can add as many sprites as you deem necessary and use this to override the
// default spriteImage and spriteButton source

$defaultSprite        : '/Project/Design/1_Website/Main_Layout/images/sprites/mainsprites.png';
$containerBackground  : '/Project/Design/1_Website/Main_Layout/images/backgrounds/container-background.png';
$contentBackground    : '/Project/Design/1_Website/Main_Layout/images/backgrounds/content-background.png';
$buttonSprites        : '/Project/Design/1_Website/Main_Layout/images/sprites/button-sprites.png';
$buttonSprites2       : '/Project/Design/1_Website/Main_Layout/images/sprites/button-sprites2.png';
  
.sprite {
  border: none;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-color: transparent;
}

  // USING THE SPRITES AND BACKGROUNDS
  // $width and $height - defines the image dimensions
  // $x and $y - defines the image coordinates
  // $hover  - is used for hover effects
  //         - you can turn this hover effect off by passing 'no-hover'
  // $img    - defines the source
  //         - you can easily override this to use a different source by passing a different variable from the SPRITES SCHEME above


@mixin sprite($width, $height, $x, $y, $hover:$hover, $img:$defaultSprite) {
  @extend .sprite;
  width: $width !important;
  height: $height !important;
  background-position: $x $y;
  background-image: url($img);
  
  @if $hover != 'no-hover'{
    &:hover {
      background-position: $x $y - $height;
    }
  }
}


@mixin centerElement($width, $height) {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: $height;
  width: $width;
}
@mixin background($width,$height,$src,$repeat:no-repeat){
  display:inline-block;
  width:$width;
  height:$height;
  background:{
    image:url($src);
    repeat:$repeat;
    position:center;
  }
}


