/** NEWS CSS ******************************************************************/
@import 'C:/WORKSPACE/avior/Project/Design/1_Website/Main_Layout/css/global';

.topicDetailsWrap {
  padding:30px 25px;
  width:680px;
  min-height:100px;
  h6 {
    font-size:1.4em;
    margin-bottom:10px;
    &:before{
      content:"Question: ";
    }
  }
  p {
    font-size:1.2em;
    margin-bottom: 50px;
    &:before{
      content:"Answer: ";
      font-weight:bold;
    }
  }
    .topicImages {
      float:left;
      height:200px;
      width:295px;
    }
}
