/** NEWS CSS ******************************************************************/
@import 'C:/WORKSPACE/avior/Project/Design/1_Website/Main_Layout/css/global';

.topicDetailsWrap {
  padding:30px;
  width:720px;
  min-height:100px;
  b { font-size:1.4em; }
  p { font-size:1.2em; }
    .topicImages {
      float:left;
      height:175px;
      width:219px;
    }
}