/** PRIVACY CSS ******************************************************************/
@import 'C:/WORKSPACE/avior-marine/Project/Design/1_Website/Main_Layout/css/global';

div[id*='content_wrapper']{
  h2{
    margin: 25px 0 15px !important;
  }
  padding: 35px !important;
  p{
    line-height: 21px;
    font-size: 1.2em !important;
  }
  ul{
    list-style:none;
    font-size: 1.4em !important;
  }
}
