/** NEWS CSS ******************************************************************/
.sprite {
  border: none;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-color: transparent; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    float: left;
    margin-bottom: 30px; }

#gallery_content_wrapper {
  padding: 0 !important; }
  #gallery_content_wrapper p.galleryText {
    text-align: center; }
  #gallery_content_wrapper .galleryListTopWrap {
    width: 900px;
    margin: 0 auto; }
    #gallery_content_wrapper .galleryListTopWrap ul.galleryListing {
      clear: both;
      height: auto;
      overflow: auto; }
      #gallery_content_wrapper .galleryListTopWrap ul.galleryListing li {
        width: 300px;
        height: 197px;
        padding-left: 15px;
        padding-right: 15px; }
        #gallery_content_wrapper .galleryListTopWrap ul.galleryListing li a {
          background-color: #E6E7E8;
          display: block;
          height: 197px;
          padding: 4px;
          position: relative; }
          #gallery_content_wrapper .galleryListTopWrap ul.galleryListing li a span.albumImage {
            background-repeat: no-repeat;
            background-size: cover;
            height: 188px;
            width: 262px;
            position: absolute;
            top: 5px; }
          #gallery_content_wrapper .galleryListTopWrap ul.galleryListing li a span.albumTitle {
            background-image: url("/Project/Design/1_Website/Pages/primary/gallery/images/gallery-pointer-img.png");
            background-position: -7px 0;
            border: medium none !important;
            border-radius: 0 0 0 0 !important;
            bottom: 4px;
            color: #FFFFFF;
            font-size: 1.5em;
            height: 35px;
            padding: 8px;
            position: absolute;
            text-align: left;
            width: 262px; }
  #gallery_content_wrapper .albumImageWrap {
    width: 900px;
    margin: 0 auto; }
    #gallery_content_wrapper .albumImageWrap a {
      font-size: 1.2em;
      color: #000; }
    #gallery_content_wrapper .albumImageWrap h2 {
      margin-top: 10px; }
    #gallery_content_wrapper .albumImageWrap ul.imageListing {
      clear: both;
      height: auto;
      overflow: auto; }
      #gallery_content_wrapper .albumImageWrap ul.imageListing li {
        background-color: #E6E7E8;
        height: 160px;
        width: 215px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 3px; }
        #gallery_content_wrapper .albumImageWrap ul.imageListing li span.albumImage {
          background-repeat: no-repeat;
          background-size: cover;
          height: 154px;
          width: 208px; }

#pagination {
  width: 100%;
  height: auto;
  overflow: auto; }
  #pagination ul {
    margin: 0 auto;
    height: auto;
    overflow: auto; }
    #pagination ul li {
      padding: 5px 10px;
      margin-right: 15px;
      border: 1px solid #cccccc; }
      #pagination ul li a {
        font-weight: bold; }
